<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polihack2020bylos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_final_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_final_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserApp.GetPrescriptionActivity"></activity>
        <activity android:name=".DoctorApp.PersonalizedData.PersonalizedDataActivity" />
        <activity android:name=".UserApp.MedicationCart.MedicationCartActivity" />
        <activity android:name=".DoctorApp.PatientList.PatientDisplayActivity" />
        <activity android:name=".UserApp.ChartShop.ChartsActivity" />
        <activity android:name=".AccountManagement.UserSignupActivity" />
        <activity android:name=".AccountManagement.UserLoginActivity" />
        <activity android:name=".UserApp.UserMenuActivity" />
        <activity android:name=".DoctorApp.AddPatient.AddPatientActivity" />
        <activity android:name=".DoctorApp.PatientList.PatientsListActivity" />
        <activity android:name=".DoctorApp.DoctorMenuActivity" />
        <activity android:name=".AccountManagement.DoctorLoginActivity" />
        <activity android:name=".StartupPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>